.footer{
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

.Foot-elements{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    width: max-content;
    margin: 0;
    cursor: pointer;
}
.foot-two{
    margin: 0;
    padding: 0;
    width: 192px;
}

.Foot-elements p:hover{
    text-decoration: underline;
}

.Foot-text{
    color: #bbb;
    font-size: 12px;
    margin: 4px; 
    padding: 0; 
}

.dot {
    height: 2px;
    width: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.copyright p{
    color: #bbb;
    font-size: 12px;
    margin: 4px; 
    margin-top: 20px;
    padding: 0; 
}